<apex:page controller="JLRMTReportExportController" standardStylesheets="false" contentType="application/vnd.ms-excel#Mobile Technician Retailer Billing Report.xls" action="{!ExportAll}">
<apex:outputText value="{!xlsHeader}"/>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
      <Author></Author>
      <LastAuthor></LastAuthor>
      <Company></Company>
      <Version>1</Version>
    </DocumentProperties>

    <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">     
      <ProtectStructure>False</ProtectStructure>
      <ProtectWindows>False</ProtectWindows>
    </ExcelWorkbook>
 <Styles>
 <Style ss:ID="Default" ss:Name="Normal">
     <Alignment ss:WrapText="1"/>
     <Borders/>
     <Font/>
     <Interior/>
     <NumberFormat/>
     <Protection/>
 </Style>
 <Style ss:ID="s1">
     <Font x:Family="Swiss" ss:Bold="1"/>
     <Interior ss:Color="#7e96bc" ss:Pattern="Solid"/>
 </Style>
 <Style ss:ID="s2">
     <Font x:Family="Swiss" ss:Bold="1"/>
 </Style>
 <Style ss:ID="perFormat">
     <Font x:Family="Swiss" ss:Bold="1"/>
     <NumberFormat ss:Format="0.0%"/>
 </Style>
 <Style ss:ID="sJLRTitle">
       <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
       <Font x:Family="Swiss" ss:Size="12" ss:Bold="1"/>
 </Style>
  <Style ss:ID="sReportDate">
       <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
       <Font x:Family="Swiss" ss:Size="11" ss:Bold="1"/>
 </Style>
 </Styles>
<Worksheet ss:Name="MT billing file" >
 <Table>
 <Column ss:Width="200"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Column ss:Width="100"/>
 <Row ss:Height="30">
     <Cell ss:StyleID="sJLRTitle"  ss:MergeAcross="12"><Data ss:Type="String"><apex:outputText escape="false" value="Mobile Technician Retailer Billing Report"/></Data></Cell>
 </Row>
 <Row ss:Height="30">
     <Cell ss:StyleID="sReportDate"  ss:MergeAcross="12">
         <Data ss:Type="String">Report date:
             <apex:outputText value="{0, date, MMMM d',' yyyy }"> <apex:param value="{!sDate}" /> </apex:outputText>to
             <apex:outputText value="{0, date, MMMM d',' yyyy}"> <apex:param value="{!eDate}" /> </apex:outputText>
         </Data>
     </Cell>
 </Row>
 <Row ss:Height="30">
     <Cell ss:StyleID="sReportDate"  ss:MergeAcross="12"><Data ss:Type="String"><apex:outputText value="Retailer Name: {!SelectedDealerName}" rendered="{!SelectedDealerToFilter != null}" escape="false"/></Data></Cell>
 </Row>
  <Row ss:Height="30">
     <Cell ss:StyleID="sReportDate"  ss:MergeAcross="12"><Data ss:Type="String"><apex:outputText value="Retailer Code(s): {!SelectedDealerCodes}" rendered="{!SelectedDealerToFilter != null}" escape="false"/></Data></Cell>
 </Row>
  <Row ss:Height="30">
     <Cell ss:StyleID="sReportDate"  ss:MergeAcross="12"><Data ss:Type="String"><apex:outputText value="AAA accounting code: {!SelectedAAAAccountingCode}" rendered="{!SelectedAAAAccountingCode != null}" escape="false"/></Data></Cell>
 </Row> 
 <Row ss:Height="30">
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Retailer Name"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Event Date"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Case ID"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Events Offered"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Events Accepted"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Events GOA"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Not available was set on mobile app"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Not available due to serving another customer"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="MT offered other dispatch"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="$ Amount"/></Data></Cell> 
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Pay Date"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Check Number/ACH Tracking #"/></Data></Cell>
 <Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputText escape="false" value="Pending"/></Data></Cell>
 </Row>

 <apex:repeat value="{!billingList}" var="r">
 <Row ss:Height="25">
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.RetailerName }"/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText value="{0, date,MM/dd/yyyy}"> <apex:param value="{!r.DateTimeStamp + offset}" /> </apex:outputText></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.CaseId}"/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.EventsOffered}"/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.EventsAccepted}"/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.EventsGOA}"/></Data></Cell>
<Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.Notavailablewassetonmobileapp}"/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.Notavailableduetoservinganothercustomer}"/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="{!r.MTOfferedOtherDispatch}"/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value="$ {!r.Amount}" rendered="{!r.Amount != null}"/></Data></Cell> 
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value=""/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value=""/></Data></Cell>
 <Cell ><Data ss:Type="String"><apex:outputText escape="false" value=""/></Data></Cell>

 </Row>
 </apex:repeat>
 </Table>
 </Worksheet>
</Workbook>
</apex:page>