<apex:page >
    <style>
        .hasMotif {
        margin : 0px;
        }
    </style>   
    
    <apex:iframe id="nc3Iframe" src="https://portal.nc3.ca/salesforce" scrolling="true" height="100%" width="100%" frameborder="false"/>
    
    <script src="/support/api/45.0/lightning/opencti_min.js" type="text/javascript"></script>
    
    <script>
        // console.error('Test');
        console.log('[NC3] NC3PhoneLX Loading...');
    
    function postMessage(data) {
        document.getElementsByTagName('iframe')[0].contentWindow.postMessage(data, '*');
    }
    
    function openNC3Panel() {
        sforce.opencti.isSoftphonePanelVisible({
            callback: function(sfvResponse) {
                if (sfvResponse.success && !sfvResponse.returnValue) {
                    sforce.opencti.setSoftphonePanelVisibility({
                        visible: true
                    }); 
                }
            }
        });
    }
    
    sforce.opencti.disableClickToDial();
    
    sforce.opencti.onClickToDial({
        listener: function(payload) {
            if (payload.success) {
                postMessage({
                    type: 'CMD_DIAL_PHONE_NUMBER',
                    phoneNumber: payload.returnValue.number,
                    toCall: true,
                });
                
                openNC3Panel();
            } else {
                console.error('Callback errors:', payload.errors);
            }    
        }
    });
    
    function receiveMessage(event) {
        // console.log(event); 
        // console.log('[SF] Message received: ' + JSON.stringify(event.data)); 
        if (event.data.type === 'EVT_INIT_COMPLETED') {
            sforce.interaction.cti.notifyInitializationComplete();
            sforce.interaction.cti.enableClickToDial();
            
            // Panel caption
            sforce.opencti.setSoftphonePanelLabel({
                label: 'NC3 Call Center'
            });
            
            // Utility bar icon
            sforce.opencti.setSoftphoneItemLabel({
                label: 'NC3 Call Center'
            });
        } else if (event.data.type === 'EVT_AGENT_STATE_CHANGED') {
            // Panel caption
            sforce.opencti.setSoftphonePanelLabel({
                label: 'NC3 Call Center - ' + event.data.state
            });
            
            // Utility bar icon
            sforce.opencti.setSoftphoneItemLabel({
                label: 'NC3 Call Center - ' + event.data.state
            });
            
            if (event.data.dialEnabled) {
                sforce.opencti.enableClickToDial();
            } else {
                sforce.opencti.disableClickToDial();
            }
        } else if (event.data.type === 'EVT_CALL_BEGIN') {
            sforce.opencti.setSoftphonePanelVisibility({
                visible: true
            });
            
            var callId = event.data.callId;
            var fromNumberE164 = event.data.uui && event.data.uui.phone ? event.data.uui.phone : event.data.phone;
            var ext = event.data.extension;
            var workgroup = event.data.uui && event.data.uui.workgroup ? event.data.uui.workgroup : '';
            var callType = event.data.uui && event.data.uui.call_type ? event.data.uui.call_type : 'RSA';
            var vin = event.data.uui && event.data.uui.VIN ? event.data.uui.VIN : '';
            var skill = event.data.skill ? event.data.skill : '';
            var language = event.data.uui && event.data.uui.language ? event.data.uui.language : '';
            var latitude = event.data.uui && event.data.uui.latitude ? event.data.uui.latitude : '';
            var longitude = event.data.uui && event.data.uui.longitude ? event.data.uui.longitude : '';
            var caseNumber = event.data.uui && event.data.uui.case ? event.data.uui.case : '';
            var refId = event.data.uui && event.data.uui.ref ? event.data.uui.ref : '';
            var fullVin = vin.length > 6 ? vin : '';
            var reason = event.data.uui && event.data.uui.reason ? event.data.uui.reason : '';
            var policy = event.data.uui && event.data.uui.policy ? event.data.uui.policy : '';
            
            if (!callId || !fromNumberE164) {
                console.error('[NC3] [EVT_CALL_BEGIN] CallID or Phone number are null or empty!');
                return;
            }
            
            //var fromNumber = phoneUtils.formatNational(fromNumberE164, "us");
            var fromNumber = fromNumberE164;
            if (fromNumber[0] === '+') {
                fromNumber = fromNumber.substring(1);
            }
            
            openNC3Panel();
            
            var tcQuery = 'ShowCTIParameters=1&ANI__c=' + fromNumber
            + '&Type=' + callType + '&case_number=' + caseNumber
            + '&Client_Code__c=' + workgroup + '&Language__c=' + language 
            + '&Interaction_ID__c=' + callId + '&VIN_Member_ID__c=' + vin 
            + '&Lat=' + latitude + '&Lon=' + longitude 
            + '&Ref_id=' + refId + '&Full_vin='+ fullVin +'&reason__c=' + reason
            + '&policy=' + policy;
            
            // console.log('[SF] [TAKE CALL PARAMS] ' + tcQuery);
            if(workgroup != ''){
                sforce.opencti.screenPop({
                    type: sforce.opencti.SCREENPOP_TYPE.URL,
                    params: { url: '/apex/TakeCall?' + tcQuery },
                    callback: function(result) {
                        if (!result.success) {
                            console.error('[SF] Screen pop failed. Errors: ' + result.errors);
                        }
                    }
                });
            }
        }
    }
    
    function callCenterSettingsCallback(response) {
        if (response.success) {
            var phoneHeight = Number(response.returnValue["/reqGeneralInfo/reqSoftphoneHeight"]);
            var phoneWidth = Number(response.returnValue["/reqGeneralInfo/reqSoftphoneWidth"]);
            
            sforce.opencti.setSoftphonePanelHeight({heightPX: phoneHeight}); 
            sforce.opencti.setSoftphonePanelWidth({widthPX: phoneWidth});
            
            var iframe = document.getElementById('nc3Iframe');
            if (!iframe) return;
            iframe.height = (phoneHeight-40) + "px";
        } else {
            console.error('[SF] Callback errors:', response.errors);
        }
    }
    
    function getCallCenterSettings() {
        sforce.opencti.getCallCenterSettings({callback: callCenterSettingsCallback});
    }
    
    function resizeIframe() {
        sforce.opencti.getCallCenterSettings({
            callback: function (response) {
                if (response.success) {
                    var phoneHeight = Number(response.returnValue["/reqGeneralInfo/reqSoftphoneHeight"]);
                    var phoneWidth = Number(response.returnValue["/reqGeneralInfo/reqSoftphoneWidth"]);
                    
                    sforce.opencti.setSoftphonePanelHeight({heightPX: phoneHeight}); 
                    sforce.opencti.setSoftphonePanelWidth({widthPX: phoneWidth});
                    
                    var iframe = document.getElementById('nc3Iframe');
                    if (!iframe) return;
                    iframe.height = (phoneHeight - 45) + "px";
                } else {
                    console.error('[SF] Callback errors:', response.errors);
                }
            }
        });
    }
    
    function addLoadEvent(func) 
    { 
        var oldonload = window.onload; 
        if (typeof window.onload != 'function') 
        { 
            window.onload = func; 
        } 
        else
        { 
            window.onload = function()  
            { 
                if (oldonload) { 
                    oldonload(); 
                }    
                func(); 
            } 
        } 
    } 
    
    
    window.addEventListener("message", receiveMessage, false);
    
    addLoadEvent(function() {
        resizeIframe();
    });
    </script>    
</apex:page>